/*
	Grid adapted from
	Simple Grid
	@owebboy
*/

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.responsive {
  max-width: 100%;
  margin-top: 4em;
}

.col {  
	width: 25%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

@media screen and (max-width: 768px) {
  .col {
    width: 50%;
  }
  .responsive .col:nth-child(odd) {
		clear: left;
	}
}

@media screen and (max-width: 600px) {
  .col {
    float: none;
    display: block;
    width: 100%;
  }
}

/*
	
	html components to specs

*/
.fixed-block {
	padding: 2em;
	background-color: black;
	color: white;
	border: solid black 0.1em;
	position: fixed;
	width: 100%;
}

#header {
	top: 0;
}

#footer {
	bottom: 0;
}

ol li:nth-child(even) {
	background-color: green;
	color: purple;
}
ol li:nth-child(odd){
	color: green;
}

li {
	padding: 0.3em;
}

.rounded-corners {
	padding: 2em;
	border: solid green 0.15em;
	border-radius: 5px;
}

.center-text {
	padding: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
}

.image-fill img {
	width: 100%;
}





